<h2>Hochschule Flensburg</h2>
    <h5>University of Applied Sciences</h5>

    <div class="fakeimg">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[0]" width="100%" alt="Random first slide">
                    </div>
                    <div class="carousel-caption">
                        <h4>Hochschule Flensburg</h4>
                        <p>Hochschule Flensburg.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[1]" width="100%"  alt="Random second slide">
                    </div>
                    <div class="carousel-caption">
                        <h4>Hochschule Flensburg</h4>
                        <p>Hochschule Flensburg.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[2]" width="100%"  alt="Random third slide">
                    </div>
                    <div class="carousel-caption">
                        <h4>Hochschule Flensburg</h4>
                        <p>Hochschule Flensburg.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    <div class="container w-80 m-lg-5">
        <p class=" Intro-text m-2">
            Wer gut verwurzelt ist, kann hoch hinaus wachsen. Ob in Studium und <br>
            Lehre, Forschung und Technologietransfer, nationalen und <br>
            internationalen Beziehungen – die Hochschule Flensburg ist in all <br>
            diesen Bereichen ganz nah an der Praxis und an den Menschen und <br>
            weit voraus in Sachen Innovation und Wissen. <br>
        </p>
        <h2>Ganz nah.</h2>
        <p class="myfont">
            Die Wurzeln der Hochschule Flensburg reichen bis ins Jahr 1852 zurück, als mit der
            <br> Gründung der
            Königlich Dänischen Navigationsschule der Grundstein für vieles gelegt <br>
            wurde, was noch heute zur Identität der Hochschule gehört. Ganz nah an der Region <br>
            und ihren Menschen waren wir damals und sind wir heute.
            <br> <br>
            Flensburg, seine Förde und die regionale Wirtschaft haben die Hochschule stark
          <br> geprägt: <strong>Maritime Themen, Wirtschaft</strong> und <strong>Energie</strong> finden sich in unserem <br>
            <br> Studienangebot und unseren Forschungsfeldern genauso wieder wie <strong>Biotechnologie</strong>, <br> <strong>
          Informatik</strong>  und <strong>Maschinenbau</strong>. <br>
            Unsere Lehrenden sind für unsere rund <strong>4000 Studierenden</strong> auf dem grünen Flensburger <br>
          Campus der kurzen Wege leicht erreichbar – auch vor und nach den Lehrveranstaltungen. <br>
          Ganz nah sind unsere Lehrenden auch an der <strong>Praxis</strong> und den Bedürfnissen der Wirtschaft. <br>
          Die Praxiserfahrungen, die alle unsere Professorinnen und Professoren mitbringen, fließen
          <br>direkt in die praxisnahe Ausbildung unserer Studierenden ein, für die wir als <strong>Hochschule</strong>
          <br> für angewandte Wissenschaften bekannt sind. <br>
          Kooperationen in Studien- und Forschungsprojekten bringen unser Wissen in die Wirtschaft und vermitteln <br>
          unseren Studierenden wertvolle Erfahrungen und Kontakte.
          <br>
            Ganz nah sind wir auch an unseren Partnern in der Region, in Deutschland, in Europa und der Welt. <br>
          Diese Partnerschaften leben vom persönlichen Kontakt und vom wechselseitigen Lernen, <br>
          das uns als Hochschule stetig weiter voranbringt.
        </p>
        <br>
    </div>
