    <h2>Hochschule Flensburg</h2>
    <h5>University of Applied Sciences</h5>
    <div class="fakeimg"><img src="https://hs-flensburg.de/sites/default/files/styles/full_width/public/aktuelles/2016-05/20.05.jpg?itok=8KqEcifH" width="100%" height="100%" alt=""></div>
    <br>
    <h3 class="alert alert-info">Ganz nah.</h3>
    <p>
        Die Wurzeln der Hochschule Flensburg reichen bis ins Jahr 1852 zurück, als mit der Gründung der Königlich Dänischen Navigationsschule der Grundstein für vieles gelegt wurde, was noch heute zur Identität der Hochschule gehört. Ganz nah an der Region und ihren Menschen waren wir damals und sind wir heute.

        Flensburg, seine Förde und die regionale Wirtschaft haben die Hochschule stark geprägt: Maritime Themen, Wirtschaft und Energie finden sich in unserem Studienangebot und unseren Forschungsfeldern genauso wieder wie Biotechnologie, Informatik und Maschinenbau.

        Unsere Lehrenden sind für unsere rund 4000 Studierenden auf dem grünen Flensburger Campus der kurzen Wege leicht erreichbar – auch vor und nach den Lehrveranstaltungen. Ganz nah sind unsere Lehrenden auch an der Praxis und den Bedürfnissen der Wirtschaft. Die Praxiserfahrungen, die alle unsere Professorinnen und Professoren mitbringen, fließen direkt in die praxisnahe Ausbildung unserer Studierenden ein, für die wir als Hochschule für angewandte Wissenschaften bekannt sind. Kooperationen in Studien- und Forschungsprojekten bringen unser Wissen in die Wirtschaft und vermitteln unseren Studierenden wertvolle Erfahrungen und Kontakte.

        Ganz nah sind wir auch an unseren Partnern in der Region, in Deutschland, in Europa und der Welt. Diese Partnerschaften leben vom persönlichen Kontakt und vom wechselseitigen Lernen, das uns als Hochschule stetig weiter voranbringt.
    </p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg">Fake Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
