<!--    <app-add-mitglied (EventShowMitglied)="showMitglied($event)"></app-add-mitglied>-->
<h1 class="text-sm-center">Mitglied</h1>

<div  class="row">
        <div *ngFor="let mitglied of mitglieds" class="column">
            <div class="card">
                <img class="img-fluid p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo755O2z4QnJ_Re4g20D-t8m07KWOjPEahuSE1tympMVS7YDxHWA&s"
                     alt="name" style="width:70%" >
                <div class="container">
                    <h4>{{mitglied.name}}</h4>
                    <p class="title">{{mitglied.stelle}}</p>
                    <p>Email: {{mitglied.emailAdresse}}</p>
                </div>
            </div>
        </div>
    </div>
