<div class="container">
       <h1>Impressum</h1>

        <h2>Der Seitenbetreiber und seine Kontaktdaten:</h2>
    <p class="adresse">
        Hochschule Flensburg <br>
        Flensburg University of Applied Sciences <br>
        Kanzleistraße 91-93 <br>
        24943 Flensburg <br>
    </p>
    <p class="adresse">
        Telefon: +49 (0)461 805-01 <br>
        Telefax: +49 (0)461 805-1300 <br>
        <br>
        E-Mail: praesidium.office@hs-flensburg.de <br>
    </p>
        <h2>Gesetzliche Rechtsform:</h2>
    <p class="adresse">
        Die Hochschule Flensburg ist eine Körperschaft des öffentlichen Rechts (K. d. ö. R.). Diese Körperschaft wird durch das Präsidium der Hochschule vertreten. Sie besteht aus:
    <br>
    </p>
        <ul class="adresse">
            <li>dem Präsidenten, Dr.-Ing. Dipl.-Phys. Christoph Jansen,</li>
            <li>der Vizepräsidentin Prof. Dr. Anja Vest,</li>
            <li>der Vizepräsidentin Prof. Dr. Claudia Jasmand,</li>
            <li>dem Vizepräsidenten Prof. Dr. Bosco Lehr,</li>
            <li>der Kanzlerin Sabine Christiansen.</li>
        </ul>

       <h2> Umsatzsteuer-Identifikationsnummer gemäß §27a UStG:</h2>
         <p class="adresse">
        DE 164958659 <br>
             </p>
        <h2>Inhaltlich Verantwortlich gemäß § 5 TMG:</h2>
        <h3> Dr.-Ing. Dipl.-Phys. Christoph Jansen</h3>
        <h2>erantwortlich im Sinne des Pressegesetzes:</h2>
        <h3>Dr.-Ing. Dipl.-Phys. Christoph Jansen</h3>
       <h2>Redaktionell Verantwortlich gemäß § 55 Abs. 2 RStV:</h2>
        <p class="adresse">
        Hochschule Flensburg, Stabsstelle Öffentlichkeitsarbeit <br>
        Kanzleistraße 91-93 <br>
        24943 Flensburg <br>
            <br>
        Telefon: +49 (0)461 805-1304 <br>
            <br>
        E-Mail: presse@hs-flensburg.de <br>
        </p>

       <h2>Zuständige Aufsichtsbehörde:</h2>
        <p class="adresse">
        Ministerium für Bildung, Wissenschaft und Kultur des Landes Schleswig-Holstein <br>
            <br>
        Wissenschaftsabteilung <br>
            <br>
        Brunswiker Str. 16 – 22 <br>
        D-24105 Kiel <br>
            </p>
        <h2>Design und Umsetzung:</h2>
            <br>
    <p class="adresse">Dipl. VK Tobias Hiep & Arbeitsgruppe Internet</p>

</div>
