p {
    font-family: Lato, serif;
}

/* Add application styles & imports to this file! */
.Login {
    display: none;
}

.Logout {
    display: block;
}
li {
    display: inline;
}

.navi i {
    color: white;
}

.navi ul {
    list-style-type: none;
    min-width: 170px;
}

.navi li a {
  color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.navi li a.active {
    color: white;
}

ul {
    padding: 10px;
}

.navbar {
    background-repeat: repeat;
    position: revert;
}

.navbar li a {
    font-size: 17px;
    display: block;
    padding: 1rem 4px;
    line-height: 1;
    text-decoration: none;
    color: #2c2f88;
    font-weight: bold;

    text-transform: uppercase;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

li a:hover:not(.active) {
    color: black;
    border: 1px black   ;
}

.nav_under {
  padding-top: 30px;
    color: white;
    width: 100%;
    /*background-image: url(/src/assets/img/background_nav.png);*/
    background-repeat: repeat;
    background-color: #6dbcbe;;
}

.nav_under ul {
    list-style-type: none;
    overflow: hidden;

}

.nav_under li {
    float: left;
  margin-top: 2px;

  margin-right: 20px;
}

.nav_under li a {

    font-size: 15px;
     font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    bottom: -2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.page-footer {
    margin-top: 20px;
    color: #2c2f88;
    background: #6dbcbe;
    clear: both;
    padding-top: 2em;
    padding-bottom: 3em;
    font-size: 0.9em;
}

.page-footer a {
    text-decoration: none;
    color: #2c2f88;

}

