<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
<nav class="navbar navbar-expand-sm">
  <div class="container" style="margin-top:30px">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="home"><a class="navbar-brand" routerLink="/"><img [src]="imagePathLogo"
                                                                                          height="100px"
                                                                                          alt="logo"></a></a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li [class]="AdminService.isLogin ? 'Login nav-item' : 'logout' ">
        <a class="nav-link" routerLink="admin/home">login</a>
      </li>
      <li [class]="AdminService.isLogin ? 'logout' : 'Login nav-item' ">
        <a class="nav-link" routerLink="admin/home"> Admin Bereich</a>
      </li>
      <li [class]="AdminService.isLogin ? 'logout' : 'Login nav-item' ">
        <a class="nav-link" (click)="AdminService.logout()" routerLink="admin/home">logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="nav_under" [ngStyle]="{ 'background-image': 'url(' + imagePathbg + ')'}">
  <div class="container">
    <ul>
      <li><a routerLink=""><span class="fa fa-home"></span> Home</a></li>
      <li><a routerLink="aktuelle">Aktuelle</a></li>
      <li><a routerLink="lehrveranstaltung">Lehrveranstaltung</a></li>
      <li><a routerLink="projekte">Projekte</a></li>
      <li><a routerLink="journale">Journale</a></li>
      <li><a routerLink="konferenzbeitraegen">Konferenzbeiträge</a></li>
      <li><a routerLink="buecher">Bücher</a></li>
      <li><a routerLink="mitglied">Mitglied</a></li>
    </ul>
  </div>
</div>
<div class="m-5" style="margin-top:30px">
  <div class="row">
    <div class="col-md-3">
      <h5>Über das Institut</h5>
      <div><img class="card-img"
                src="https://hs-flensburg.de/sites/default/files/styles/frontpage_xl/public/aktuelles/2019-11/13.11.2019_campus_career_day_1.jpg?h=8b1a521b&itok=vhksvxdW"
                width="100%" height="100%" alt=""></div>
      <p class=" myfont p-2">
        Wer gut verwurzelt ist, kann hoch hinaus wachsen. Ob in Studium und Lehre, Forschung
        und Technologietransfer, nationalen und internationalen Beziehungen – die Hochschule Flensburg ist in
        all diesen Bereichen ganz nah an der Praxis und an den Menschen und weit voraus in Sachen Innovation und
        Wissen..</p>
      <ul class="nav nav-pills flex-column m-1" [ngStyle]="{ 'background-image': 'url(' + imagePathbg + ')'}">
        <li class="nav-item">
          <a class="nav-link " routerLink="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Publikationen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button ngbDropdownItem routerLink="konferenzbeitraegen">Konferenzbeiträge</button>
            <button ngbDropdownItem routerLink="journale">Journale</button>
            <button ngbDropdownItem routerLink="buecher">Bücher</button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lehrveranstaltung">Lehrveranstaltung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projekte">Projekte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aktuelle">Aktuelle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mitglied">Mitglied</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aktuelle">Aktuelle</a>
        </li>
        <li [class]="AdminService.isLogin ? 'Login nav-item' : 'logout' ">
          <a class="nav-link" routerLink="admin/home">Login</a>
        </li>
        <li [class]="AdminService.isLogin ? 'logout' : 'Login nav-item' ">
          <a class="nav-link" routerLink="admin/home">Admin Bereich</a>
        </li>
        <li [class]="AdminService.isLogin ? 'logout' : 'Login nav-item' ">
          <a class="nav-link" (click)="AdminService.logout()" routerLink="admin/home">Logout</a>
        </li>
        <!--        <app-admin-home></app-admin-home>-->

      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small text-justify blue pt-4"[ngStyle]="{ 'background-image': 'url(' + imagePathbg + ')'}">
  <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Kontakt</h5>
          <p>Hochschule Flensburg <br>
            Kanzleistraße 91–93 <br>
            24943 Flensburg . <br>
            Telefon: +49 (0)461 805 - 01 <br>
            Telefax: +49 (0)461 805 - 1300 <br>
          </p>
          <p><a href="">infopoint@hs-flensburg.de</a></p>

        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="list-unstyled">
            <li>
              <a class="nav-link" routerLink="impressum">Impressum</a>
            </li>
            <li>
              <a class="nav-link" routerLink="about"> <i class="fa fa-envelope"></i> kontakt</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/"> <i class="fa fa-home"></i> home</a>
            </li>
            <li>
              <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="aktuelle">Aktuelle</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Soziale Netzwerke</h5>

          <ul class="list-unstyled">
            <li>
              <a class="nav-link" href="#!">Facebook</a>
            </li>
            <li>
              <a class="nav-link" href="#!">Youtube</a>
            </li>
            <li>
              <a class="nav-link" href="#!">Instagram</a>
            </li>
            <li>
              <a class="nav-link" href="#!">Twitter</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
    </div>
    <!-- Copyright -->
  </div>
</footer>

</body>
