.positive{
    display: block;
}
.negative{
    display: none;
}

.adminNav, button{
    margin-top: 10px;
}
#login{
    position: fixed;
}
#naviAdmin
{

}
.fa{
  font-size: 25px;
  color: #272b89;
}
