<div id="login" [class]="AdminService.isLogin ? 'negative' : 'positive'">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class=" col border border-danger">
            <p class="alert alert-secondary">Name admin</p>
            <p class="alert alert-secondary"> Passwort admin</p>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nameinput">Name: </label>
              <input type="text" id="nameinput" class="form-control" formControlName="name" placeholder="Name ist admin" required>
            </div>
            <div class="form-group ">
              <label for="nameinput">Passwort:</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                     required placeholder="Password ist admin ">
            </div>
            <div class="form-group ">
              <button class="form-group btn btn-primary" type="submit" [disabled]="!profileForm.valid">Login</button>
            </div>
          </div>

        </div>
    </form>
</div>
<div [class]="AdminService.isLogin ? 'positive  p-2 col-md' : 'negative'">
    <div class="row border border-info">
        <div id="naviAdmin" class="p-2 w-30">
            <ul class="adminNav nav nav-pills flex-column small">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/addmitglied/']">Mitglied hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/buch/']">Buch hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/lehrveranstaltung/']">Lehrveranstaltung hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/projekt/']">Projekt hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/konferenzbeitraege/']">Konferenzbeitraeg hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/journale/']">journale hinzufügen</a>
                </li>
            </ul>
        </div>
    </div>
</div>
