<h1 class="text-center">Aktuelle</h1>
<div class="alert alert-info">
    <div class="row">
        <div class="col-md-12">
            <app-lehrveranstaltung></app-lehrveranstaltung>
            <hr>
        </div>
        <div class="col-md-12">
            <app-buecher></app-buecher>
            <hr>
        </div>
        <div class="col-md-12">
            <app-konferenzbeitraegen></app-konferenzbeitraegen>
            <hr>
        </div>
        <div class="col-md-12">
            <app-journale></app-journale>
            <hr>
        </div>
        <div class="col-md-12">
            <app-projekte></app-projekte>
            <hr>
        </div>
    </div>

</div>
