<div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="nameinput">Name: </label>
                <input type="text" id="nameinput" class="form-control" formControlName="name" placeholder="Name">
            </div>
            <div class="form-group col-md-10">
                <label for="brueo">Büro: </label>
                <input type="text" id="brueo" class="form-control" formControlName="buero" placeholder="Büro">
            </div>
            <div class="form-group col-md-10">
                <label for="emailAdresse">Email: </label>
                <p class="alert alert-danger small" *ngIf="profileForm.controls['emailAdresse'].hasError('email')">Geben Sie eine gültige E-Mail-Adresse ein.</p>
                <input type="text" id="emailAdresse" class="form-control" formControlName="emailAdresse" placeholder="Email">
            </div>
            <div class="form-group col-md-10">
                <label for="stelle">Stelle: </label>
                <input type="text" id="stelle" class="form-control" formControlName="stelle" placeholder="Stelle">
            </div>
            <div class="form-group col-md-10">
                <button class="form-group" type="submit" [disabled]="!profileForm.valid">Hinzufügen</button>
            </div>
        </div>
    </form>
   </div>
<h1 class="text-sm-center">Mitglied</h1>
<input type="text" (keyup)="myService.search()" id="suchen" class="form-control" name="suchen" placeholder="Stelle">
<table id="myTable">
    <tr>
        <th>Name:</th>
        <th>Stelle:</th>
        <th>Email:</th>
        <th>Büro:</th>
        <th></th>
    </tr>
    <tr *ngFor="let mitglied of myService.mitglied">
        <td>{{mitglied.name}}</td>
        <td>{{mitglied.stelle}}</td>
        <td>{{mitglied.emailAdresse}}</td>
        <td>{{mitglied.buero}}</td>
        <td><button (click)="myService.deleteDate(mitglied.id , myService.mitglied )">Delete</button></td>
    </tr>
</table>
