<!--<div class="row">-->
<!--    <div *ngFor="let buch of Buecher" class="column">-->
<!--        <div class="card">-->
<!--            <img class="img-fluid p-2"-->
<!--                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRccqmUx5yjuw1yxwoG1J2U7tu6cTVPm8VqZOZg55yFK8f1bVNe&s"-->
<!--                 alt="name" style="width:70%">-->
<!--            <div class="container">-->
<!--                <h4>{{buch.author}}</h4>-->
<!--                <p class="title">{{buch.title}}</p>-->
<!--                <p>Publisher: {{buch.publisher}}</p>-->
<!--                <p>ReleaseDate: {{buch.releaseDate}}</p>-->
<!--                <p>Theme: {{buch.theme}}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<h2 class="text-sm-center">Bücher</h2>
<div class="small">

    <div *ngFor="let buch of myService.buecher">


        <a class="" type="button" (click)="isCollapsed =!isCollapsed" [attr.aria-expanded]="buch.id" attr.data-target="#{{buch.id}}">
            <table id="myTable">
                <tr>
                    <td>
                        <span class="fa fa-book text-danger"></span> {{buch.theme}}
                    </td>
                </tr>
            </table>
        </a>
        <div id="{{buch.id}}" [ngbCollapse]="isCollapsed">
            <div class="card">
                <div class="card-body">
                    <cite>Autor: {{ buch.author }}</cite>  Herausgeber: {{buch.publisher}} Datum: {{buch.releaseDate}} Theme: {{buch.theme}}
                </div>
            </div>
        </div>
    </div>

</div>
