/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

table {
    border: 0px;
    font-family: arial, sans-serif;
    width: 100%;
}
td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

button{
    color: white;
    background-color: rgba(255, 0, 0, 0.425);
    border: none;
    padding: 7px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;

}
button:hover{
    background-color: #a2daf3;
}
.footer{
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 14, 14);
    color: white;
}
h1{
    font-weight: bold;
    color: #6b3e91;
    font-size: 2em;
    line-height: 1.2;
    font-family: cargan,Consolas,Menlo,Monaco,Courier,monospace;
}
h2 {
    font-weight: bold;
    color:
            #ec6707;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
h3 {
    font-weight: bold;
    color: #a35494;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.myfont{
    color: #2c2f88;
}

